[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
codecov = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django-split-settings = "==1.0.*"
django = "==3.1.*"
djangorestframework = "==3.11.*"
psycopg2 = "*"
factory-boy = "==3.0.*"
pillow = "==8.2.*"

[requires]
python_version = "3.8"
